In [115]:
import pandas as pd

In [116]:
data = pd.read_csv('data_tweet_ku.csv')
data.head()

                                              tweets
0  RT @TrollFootball: 4 things are certain in lif...
1  RT @FootyHumour: Man City to UEFA before every...
2  The Reds are looking to win their seventh Euro...
3  Eric Cantona speech: humans 'will become etern...
4  RT @NOT_MOTD: Man City in the UEFA offices mak...

In [117]:
data.shape

(500, 1)

In [118]:
data.iloc[0,0]

'RT @TrollFootball: 4 things are certain in life:\n\n1) Death\n2) Taxes\n3) One boring group in the Champions League group stage.\n4) Man City ge…'

In [119]:
data['tweets'] = data.tweets.apply(lambda tw: ' '.join(tw.split('\n')))

In [120]:
data.iloc[0,0]

'RT @TrollFootball: 4 things are certain in life:  1) Death 2) Taxes 3) One boring group in the Champions League group stage. 4) Man City ge…'

In [121]:
import numpy as np
import re

In [122]:
def remove_pattern(text, pattern_regex):
    r = re.findall(pattern_regex, text)
    for i in r:
        text = re.sub(i, '', text)
    
    return text
# We are keeping cleaned tweets in a new column called 'tidy_tweets'
data['clean_tweets'] = np.vectorize(remove_pattern)(data['tweets'], "@[\w]*: | *RT")

In [123]:
data.head()

,tweets,clean_tweets
0,RT @TrollFootball: 4 things are certain in lif...,4 things are certain in life: 1) Death 2) Ta...
1,RT @FootyHumour: Man City to UEFA before every...,Man City to UEFA before every Champions Leagu...
2,The Reds are looking to win their seventh Euro...,The Reds are looking to win their seventh Euro...
3,Eric Cantona speech: humans 'will become etern...,Eric Cantona speech: humans 'will become etern...
4,RT @NOT_MOTD: Man City in the UEFA offices mak...,Man City in the UEFA offices making sure they...

In [124]:
cleaned_tweets = []

for index, row in data.iterrows():
    # Here we are filtering out all the words that contains link
    words_without_links = [word for word in row.clean_tweets.split() if 'http' not in word]
    cleaned_tweets.append(' '.join(words_without_links))

data['clean_tweets'] = cleaned_tweets

In [125]:
data.head()

,tweets,clean_tweets
0,RT @TrollFootball: 4 things are certain in lif...,4 things are certain in life: 1) Death 2) Taxe...
1,RT @FootyHumour: Man City to UEFA before every...,Man City to UEFA before every Champions League...
2,The Reds are looking to win their seventh Euro...,The Reds are looking to win their seventh Euro...
3,Eric Cantona speech: humans 'will become etern...,Eric Cantona speech: humans 'will become etern...
4,RT @NOT_MOTD: Man City in the UEFA offices mak...,Man City in the UEFA offices making sure they ...